.background    { background: rgb(241, 193, 214);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: black; }
.poison		   { background: purple; }
.wall          { background: white;   }
.door          {background: url(boost.gif);   }

.actor  { position: absolute;  }
.coin { background: rgb(255, 242, 0); }
.player { background: rgb(245, 100, 164); }
.boost { background: url(boost.gif); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
  box-shadow: -4px -7px 8px black, 4px -7px 8px black;
}
.won .player {
	background: url(boost.gif);
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
